/* @import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-semibold;
    }
    h3 {mm
        @apply text-xl font-semibold
    }
} */

:root {
    --black: #0a0a0a;
    --white: #fafafa;
}
body {
    background-color: var(--black);
    color: var(--white);
    font-family: "Playfair Display", serif;
    padding: 0 20px;
}

button {
    font-family: inherit;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}

a {
    color:inherit
}

ul {
    list-style: square;
    
}

ul li {
    margin-bottom: 5px;
}

#hero-text {
    margin-top: 50px;
}

.heroCTA {
    padding: 15px 20px;
    background-color: orange;
    color: white;
    margin: 30px auto;
    font-size: medium;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    width: 270px;
    text-align: center;
    text-decoration: none;
}

#circle {
    z-index: 1;
}

#circle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    border-radius: 50%;
    
    
    width: 300px;
    height: 300px;

    background: radial-gradient(circle, rgba(0, 102, 255, 0.6) 0%, transparent 70%);

    z-index: -1;
}

.project-img {
    width: 300px;
}

.proj-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    overflow-x: auto;
}