:root {
    --black: #0a0a0a;
    --white: #fafafa;
}
body {
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
#hero-text {
    margin-top: 50px;
    text-align: center;
}


button {
    font-family: inherit;
}